body, #root, html {
  width: 100vw;
  min-height: 100vh;
  height: 100%;
  margin: 0;
  padding: 0;
  background: #fff;
  font-family: 'Inter', 'Montserrat', 'Poppins', sans-serif;
  color: #14142D;
  box-sizing: border-box;
}

#root {
  width: 100%;
  min-height: 100vh;
}